In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20200901',periods=6)

In [7]:
dates

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2020-09-01  1.602143 -0.513128  2.327031  0.870747
2020-09-02 -0.661301  0.690191 -0.286521  0.870559
2020-09-03  2.373724 -1.095847 -0.796402  1.488206
2020-09-04 -2.441192  1.762237  1.073979  0.179793
2020-09-05  0.825354 -1.180001 -1.071030 -0.870519
2020-09-06 -0.983898 -1.421808 -0.481829  0.682225